.vscode/
TDLL/obj/*.o
TDLL/winmm.dll
obj/*.o
release/*.bin
release/*.dll
release/*.exe
release/*.tdbin
release/*.vox
release/*.xml
release/*.zip
release/config.xml
release/teardown-converter
release/converted/
